.scrollable-row {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
}

.scrollable-row::-webkit-scrollbar {
  display: none;
}

.image-icon {
  width: 250px;
  height: 250px;
  padding: 0px;
  cursor: pointer;
  display: block; 
  object-fit: cover;
}

.image-container {
  text-align: left;
  padding: 5px;
  display: inline-block; 
}

.item-text {
  max-width: 250px;
  white-space: normal; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  display: block; 
}

.image-container a,
.image-container a:visited {
  color: black;
  text-decoration: none;
}

.image-container a:hover,
.image-container a:active {
  text-decoration: none; 
}
