.postImage {
    width: 100%;    
    object-fit: cover; 
    height: 100%;      
    border-radius: 0;   
  }
  
.profile-header .avatar2 {
    width: 250px;
    height: 250px;
    object-fit: cover; 
}
  
.post-grid .col {
  padding: 1px;
}
  
.follow-button {
  max-width: 150px; 
  display: block;    
  white-space: nowrap;
}